.terminal {
    font-size: 18px;
    font-family: Lucida Console, Monaco5, monospace;
    border-radius: 5px;
    min-height: 200px;
    background-color: #2B2B2B;
    padding: 20px;
    color: white;
}
.import {
    color: #bc1872;
    font-weight: 600;
}

.method {
    color: #05b6c3;
    font-weight: 300;
}

.string {
    color: #20cc4a;
    font-weight: 300;
}

.attribute {
    color: #0d70cf;
    font-weight: 300;
}
