.terminal {
    font-size: 18px;
    font-family: Lucida Console, Monaco5, monospace;
    border-radius: 5px;
    min-height: 200px;
    padding: 20px;
    color: white;
    background-color: #2B2B2B;
}
.dark{
}
/* Python dark color schemes starts */
.python .keyword {
    color: rgba(238, 99, 4, 0.9);
    font-weight: 300;
}
.python  .method {
    color: #05b6c3;
    font-weight: 300;
}
.python  .string {
    color: #dddd3c;
    font-weight: 300;
}
.python  .attribute {
    color: #0d70cf;
    font-weight: 300;
}
.python  .comment {
    font-style: italic;
    color: #a3a3a6;
    font-weight: 300;
}
/* Python dark color schemes starts */
/* Python light color schemes starts */